@{
    ViewBag.Title = "DataForm";
}

@using RSPNMISv2.ViewModels
@model dynamic

<h2>Outreach Data</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "mainForm", enctype = "multipart/form-data" }))
{

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Add Outreach Data <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="display: none;">
                    @using (Html.BeginForm("submitData", null, FormMethod.Post, new { id = "submitForm", @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
                    {

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Select Partner Organization <span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <select name="partnerOrganization" class="form-control">
                                    <option>Select Partner Organization</option>
                                    @foreach (var d in Model.PartnerOrganizations)
                                    {
                                    <option value="@d.ID">@d.Title</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Select District <span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-6 col-xs-12">

                                <select name="district" class="form-control">
                                    <option>Select District</option>
                                    @foreach (var d in Model.Districts)
                                    {
                                    <option value="@d.Dist_Id$#@d.District_Name">@d.District_Name</option>
                                    }
                                </select>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Reporting Date <span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <input type="date" class="form-control" name="reportingDate" placeholder="Reporting Date" />
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">


                            <table id="example" class="table table-striped responsive-utilities jambo_table">
                                <thead>
                                    <tr class="headings">
                                        <th>
                                            Indicator
                                        </th>
                                        <th>
                                            Sub-Indicator
                                        </th>
                                        <th>
                                            Values
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in Model.Indicators)
                                    {
                                        <tr class="even pointer">
                                            <td class="a-center ">
                                                @d.IndicatorName
                                            </td>
                                            <td class="a-center ">
                                                @d.SubIndicatorName
                                            </td>
                                            <td class="a-center ">
                                                <input type="hidden" name="indicator" value="@d.ID$#@d.IndicatorName$#@d.SubIndicatorName"><input type="text" class="kpiValue" name="kpiValue[]" />
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>


                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-11 col-sm-3 col-xs-12" for="first-name">

                            </label>
                            <div class="col-md-1 col-sm-6 col-xs-12">
                                <br />
                                <input type="submit" class="btn btn-success" />
                            </div>
                        </div>


                    }

                </div>
            </div>
        </div>
    </div>

}


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>KPI Values for Review <small></small></h2>
             
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="example" class="table table-striped responsive-utilities jambo_table">
                    <thead>
                        <tr class="headings">
                            <th>
                                Indicator
                            </th>
                            <th>
                                Sub-Indicator
                            </th>
                            <th>
                                District
                            </th>
                            <th>
                                Values
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var d in Model.OutReachData)
                            {
                                <tr class="even pointer">
                                    <td class="a-center ">
                                        @d.IndicatorName
                                    </td>
                                    <td class="a-center ">
                                        @d.SubIndicatorName
                                    </td>
                                    <td class="a-center ">
                                        @d.DistrictName
                                    </td>
                                    <td class="a-center ">
                                        @d.Value
                                    </td>
                                </tr>

                            }
                        }



                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Review and Submit <small></small></h2>
    
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm("submitData", null, FormMethod.Post, new { id = "submitForm", @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
                {

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Select Partner Organization <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <select name="partnerOrganizationID" class="form-control">
                                <option>Select Partner Organization</option>
                                @foreach (var d in Model.PartnerOrganizations)
                                {
                                <option value="@d.ID">@d.Title</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Reporting Date <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="date" class="form-control" name="reportingDate" placeholder="Reporting Date" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">

                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="submit" class="btn btn-success" />
                        </div>
                    </div>


                }

            </div>
        </div>
    </div>
</div>
