
@using RSPNMISv2.Models

@{
    Layout = "";
}


@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RSPN MIS</title>
    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/theme")
</head>
<body style="background:#F7F7F7;">

    <div class="">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">
            <div id="login" class="animate form">
                <section class="login_content">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
    <h1>RSPN MIS Login</h1>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                         
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                        
                            <div class="col-md-12">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </div>
                        </div>

    <div class="clearfix"></div>
    <div class="separator">
        <p class="change_link">
            Lost your password?  New to site? <br> Please Contact support@rspn.org.pk <br> or Dial +92-51-2277881 EXT# 110
            @* <a href="#toregister" class="to_register"> Create Account </a>*@
        </p>
        <div class="clearfix"></div>
        <br />
        <div>
            <h1><i class="fa fa-database" style="font-size: 26px;"></i> RSPN MIS</h1>
            <p>©2015 All Rights Reserved. RSPN!</p>
        </div>
    </div>
                        @*<p>
                            @Html.ActionLink("Register as a new user", "Register")
                        </p>*@
                        @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
                    }

                    @*<form>
                        <h1>Login Form</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="index.html">Log in</a>
                          @*  <a class="reset_pass" href="#">Lost your password?</a>*@
                        @*</div>*@
                      
                    @*</form>*@
                    <!-- form -->
                </section>
                <!-- content -->
            </div>
            <div id="register" class="animate form">
                <section class="login_content">
                    <form>
                        <h1>Create Account</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="" />
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Email" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="index.html">Submit</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                Already a member ?
                                <a href="#tologin" class="to_register"> Log in </a>
                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-paw" style="font-size: 26px;"></i> RSPN MIS!</h1>
                                <p>©2015 All Rights Reserved. RSPN!</p>
                            </div>
                        </div>
                    </form>
                    <!-- form -->
                </section>
                <!-- content -->
            </div>
        </div>
    </div>
</body>

@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/theme")

@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/dataTable")

</html>