@{
    ViewBag.Title = "Partner Organizations";
}
@model RSPNMISv2.ViewModels.PartnerOrganizationViewModel

<h2>Partner Organization</h2>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Add Partner Organization <small> </small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                @using (Html.BeginForm("PartnerOrganizations", null, FormMethod.Post, new { id = "Form", @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
                {

                    <div class="form-group">
                        @Html.LabelFor(d => d.PartnerOrganizationType_ID, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" }) <span class="required">*</span>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <select name="poType" class="form-control">
                                <option>Select P.O. Type</option>
                                <option value="1">Implementing Partner</option>
                                <option value="2">Donor</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                            @Html.LabelFor(d => d.Title, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" }) <span class="required">*</span>
        
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(d => d.Title, new { @class = "form-control", name = "title", @placeholder = "e.g. Rural Support Programmes Network" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(d => d.Abbr, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" }) <span class="required">*</span>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(d => d.Abbr, new { @class = "form-control", name = "abbr", @placeholder = "e.g. RSPN" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(d => d.Description, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" }) <span class="required">*</span>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            @Html.TextAreaFor(d => d.Description, new { @class = "form-control", name = "description", @placeholder = "" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(d => d.YearFounded, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" }) <span class="required">*</span>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(d => d.YearFounded, new { @class = "form-control", name = "year", @placeholder = "e.g. 2001" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(d => d.ColorCode, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" }) <span class="required">*</span>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(d => d.ColorCode, new { @class = "form-control", name = "color", @placeholder = "e.g. #009009" })
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-primary">Cancel</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

@Html.Partial("_PoDistrictsPartial")
 
@section Scripts
{
    @*  <script src="@Url.Content("~/Scripts/jqueryFoo.js")"></script>*@
    <script type="text/javascript">

        jQuery(document).ready(function ($) {

            $('#undo_redo').multiselect();

            $(".select2_single").select2({
                allowClear: true
            });
        });


    </script>
}